{
  "openapi": "3.1.0",
  "x-generated-by": "fmpsdk source introspection (tools/gen_openapi.py)",
  "x-not-official": true,
  "info": {
    "title": "Financial Modeling Prep API — as described by fmpsdk",
    "version": "20260824.0",
    "description": "GENERATED — NOT AN OFFICIAL FINANCIAL MODELING PREP ARTIFACT. Financial Modeling Prep does not publish an OpenAPI/Swagger specification. This document is produced by introspecting the fmpsdk Python library (v20260824.0) — its method signatures, docstrings, and TypedDict response models — and is only as accurate as that library. It is not fetched from, generated by, or endorsed by Financial Modeling Prep. Regenerate with `python tools/gen_openapi.py`.",
    "license": {
      "name": "BSD-3-Clause"
    }
  },
  "servers": [
    {
      "url": "https://financialmodelingprep.com/stable"
    }
  ],
  "security": [
    {
      "apikey": []
    }
  ],
  "tags": [
    {
      "name": "analyst"
    },
    {
      "name": "bulk"
    },
    {
      "name": "calendar"
    },
    {
      "name": "chart"
    },
    {
      "name": "commitment_of_traders"
    },
    {
      "name": "commodity"
    },
    {
      "name": "company"
    },
    {
      "name": "congress"
    },
    {
      "name": "crypto"
    },
    {
      "name": "dcf"
    },
    {
      "name": "directory"
    },
    {
      "name": "earnings_transcript"
    },
    {
      "name": "economics"
    },
    {
      "name": "esg"
    },
    {
      "name": "forex"
    },
    {
      "name": "fundraisers"
    },
    {
      "name": "funds"
    },
    {
      "name": "indexes"
    },
    {
      "name": "insider_trades"
    },
    {
      "name": "institutional_ownership"
    },
    {
      "name": "market_hours"
    },
    {
      "name": "market_performance"
    },
    {
      "name": "news"
    },
    {
      "name": "quote"
    },
    {
      "name": "search"
    },
    {
      "name": "sec_filings"
    },
    {
      "name": "statements"
    },
    {
      "name": "technical_indicators"
    },
    {
      "name": "tipranks"
    }
  ],
  "paths": {
    "/acquisition-of-beneficial-ownership": {
      "get": {
        "operationId": "acquisition_of_beneficial_ownership",
        "summary": "Schedule 13D/13G beneficial-ownership changes for one company.",
        "description": "``GET acquisition-of-beneficial-ownership`` — Schedule 13D/13G\nbeneficial-ownership changes for one company.\n\n:param symbol: security ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.",
        "tags": [
          "insider_trades"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "security ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcquisitionOfBeneficialOwnershipResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/actively-trading-list": {
      "get": {
        "operationId": "actively_trading_list",
        "summary": "every symbol currently actively traded, across all asset classes. No parameters; the activity-based subset of the full universe, distinct from etf_list's asset-class filter.",
        "description": "``GET actively-trading-list`` — every symbol currently actively\ntraded, across all asset classes. No parameters; the\nactivity-based subset of the full universe, distinct from\n:meth:`etf_list`'s asset-class filter.",
        "tags": [
          "directory"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivelyTradingListResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/aftermarket-quote": {
      "get": {
        "operationId": "aftermarket_quote",
        "summary": "post-market bid/ask quote for one symbol.",
        "description": "``GET aftermarket-quote`` — post-market bid/ask quote for one\nsymbol.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AftermarketQuoteResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/aftermarket-trade": {
      "get": {
        "operationId": "aftermarket_trade",
        "summary": "post-market trade prints for one symbol.",
        "description": "``GET aftermarket-trade`` — post-market trade prints for one\nsymbol.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AftermarketTradeResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/all-exchange-market-hours": {
      "get": {
        "operationId": "all_exchange_market_hours",
        "summary": "every exchange's opening/closing hours, timezone, and current open/closed status.",
        "description": "``GET all-exchange-market-hours`` — every exchange's\nopening/closing hours, timezone, and current open/closed status.\n\n:param timestamp: Unix timestamp to check status as of, as a string.",
        "tags": [
          "market_hours"
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Unix timestamp to check status as of, as a string."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeMarketHoursResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/all-industry-classification": {
      "get": {
        "operationId": "all_industry_classification",
        "summary": "every company's industry classification, market-wide, paginated.",
        "description": "``GET all-industry-classification`` — every company's industry\nclassification, market-wide, paginated.\n\n:param page: zero-indexed page number.\n:param limit: max results per page.",
        "tags": [
          "sec_filings"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndustryClassificationResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/analyst-estimates": {
      "get": {
        "operationId": "analyst_estimates",
        "summary": "consensus revenue/EPS/margin forecasts.",
        "description": "``GET analyst-estimates`` — consensus revenue/EPS/margin forecasts.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param period: ``\"annual\"`` or ``\"quarter\"`` (see\n    ``constants.PERIOD_ANNUAL_QUARTER``) — this endpoint does\n    *not* accept ``Q1``-``Q4``/``FY``.\n:param page: zero-indexed page number.\n:param limit: max results to return.",
        "tags": [
          "analyst"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\"annual\" or \"quarter\" (see constants.PERIOD_ANNUAL_QUARTER) — this endpoint does *not* accept Q1-Q4/FY."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalystEstimatesResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/available-countries": {
      "get": {
        "operationId": "available_countries",
        "summary": "every country code usable for filtering elsewhere in the API. No parameters.",
        "description": "``GET available-countries`` — every country code usable for\nfiltering elsewhere in the API. No parameters.",
        "tags": [
          "directory"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableCountryResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/available-exchanges": {
      "get": {
        "operationId": "available_exchanges",
        "summary": "every exchange FMP has data for.",
        "description": "``GET available-exchanges`` — every exchange FMP has data for.\n\n:param extended: include extended exchange metadata.",
        "tags": [
          "directory"
        ],
        "parameters": [
          {
            "name": "extended",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "include extended exchange metadata."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableExchangeResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/available-industries": {
      "get": {
        "operationId": "available_industries",
        "summary": "every industry value usable for filtering elsewhere in the API. No parameters.",
        "description": "``GET available-industries`` — every industry value usable for\nfiltering elsewhere in the API. No parameters.",
        "tags": [
          "directory"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableIndustryResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/available-sectors": {
      "get": {
        "operationId": "available_sectors",
        "summary": "every sector value usable for filtering elsewhere in the API (e.g. company_screener's sector parameter). No parameters.",
        "description": "``GET available-sectors`` — every sector value usable for\nfiltering elsewhere in the API (e.g. ``company_screener``'s\n``sector`` parameter). No parameters.",
        "tags": [
          "directory"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableSectorResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/balance-sheet-statement": {
      "get": {
        "operationId": "balance_sheet_statement",
        "summary": "assets, liabilities, and equity for one company, periodic.",
        "description": "``GET balance-sheet-statement`` — assets, liabilities, and\nequity for one company, periodic.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param period: one of ``constants.PERIOD_ANY``.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "one of constants.PERIOD_ANY."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStatementResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/balance-sheet-statement-as-reported": {
      "get": {
        "operationId": "balance_sheet_statement_as_reported",
        "summary": "balance sheet data exactly as filed, XBRL tag names as keys, no normalization.",
        "description": "``GET balance-sheet-statement-as-reported`` — balance sheet\ndata exactly as filed, XBRL tag names as keys, no normalization.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param period: one of ``constants.PERIOD_ANNUAL_QUARTER``.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "one of constants.PERIOD_ANNUAL_QUARTER."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStatementAsReportedResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/balance-sheet-statement-bulk": {
      "get": {
        "operationId": "balance_sheet_statement_bulk",
        "summary": "balance sheet for every company, for one fiscal period.",
        "description": "``GET balance-sheet-statement-bulk`` — balance sheet for\nevery company, for one fiscal period.\n\n:param year: fiscal year, e.g. ``\"2026\"``.\n:param period: fiscal period, one of ``constants.PERIOD_FISCAL``.",
        "tags": [
          "bulk"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal year, e.g. \"2026\"."
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal period, one of constants.PERIOD_FISCAL."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStatementBulkResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/balance-sheet-statement-growth": {
      "get": {
        "operationId": "balance_sheet_statement_growth",
        "summary": "year-over-year growth rate for every balance-sheet line item.",
        "description": "``GET balance-sheet-statement-growth`` — year-over-year growth\nrate for every balance-sheet line item.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param period: one of ``constants.PERIOD_ANY``.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "one of constants.PERIOD_ANY."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStatementGrowthResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/balance-sheet-statement-growth-bulk": {
      "get": {
        "operationId": "balance_sheet_statement_growth_bulk",
        "summary": "balance sheet growth for every company, for one fiscal period.",
        "description": "``GET balance-sheet-statement-growth-bulk`` — balance sheet\ngrowth for every company, for one fiscal period.\n\n:param year: fiscal year, e.g. ``\"2026\"``.\n:param period: fiscal period, one of ``constants.PERIOD_FISCAL``.",
        "tags": [
          "bulk"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal year, e.g. \"2026\"."
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal period, one of constants.PERIOD_FISCAL."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStatementGrowthBulkResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/balance-sheet-statement-ttm": {
      "get": {
        "operationId": "balance_sheet_statement_ttm",
        "summary": "near-identical shape to balance_sheet_statement, trailing twelve months (kept as its own type — see BalanceSheetStatementTtmResult). Requires an FMP Ultimate-tier plan — 402s on free, Starter, and Premium (confirmed working on Ultimate 2026-08-24).",
        "description": "``GET balance-sheet-statement-ttm`` — near-identical shape to\n:meth:`balance_sheet_statement`, trailing twelve months (kept as\nits own type — see `BalanceSheetStatementTtmResult`). Requires\nan FMP Ultimate-tier plan — 402s on free, Starter, and Premium\n(confirmed working on Ultimate 2026-08-24).\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStatementTtmResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-aftermarket-quote": {
      "get": {
        "operationId": "batch_aftermarket_quote",
        "summary": "post-market bid/ask quotes for several symbols in one call.",
        "description": "``GET batch-aftermarket-quote`` — post-market bid/ask quotes\nfor several symbols in one call.\n\n:param symbols: comma-separated ticker symbols, e.g. ``\"AAPL,MSFT\"``.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "comma-separated ticker symbols, e.g. \"AAPL,MSFT\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AftermarketQuoteResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/batch-aftermarket-trade": {
      "get": {
        "operationId": "batch_aftermarket_trade",
        "summary": "post-market trade prints for several symbols in one call.",
        "description": "``GET batch-aftermarket-trade`` — post-market trade prints for\nseveral symbols in one call.\n\n:param symbols: comma-separated ticker symbols, e.g. ``\"AAPL,MSFT\"``.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "comma-separated ticker symbols, e.g. \"AAPL,MSFT\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AftermarketTradeResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/batch-commodity-quotes": {
      "get": {
        "operationId": "batch_commodity_quotes",
        "summary": "condensed quotes for every commodity FMP tracks. No scope parameter — whole asset class. Also reachable from client.commodity.",
        "description": "``GET batch-commodity-quotes`` — condensed quotes for every\ncommodity FMP tracks. No scope parameter — whole asset class.\nAlso reachable from ``client.commodity``.\n\n:param short: passed through as documented by FMP.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "passed through as documented by FMP."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-crypto-quotes": {
      "get": {
        "operationId": "batch_crypto_quotes",
        "summary": "condensed quotes for every cryptocurrency FMP tracks. No scope parameter — whole asset class. Also reachable from client.crypto.",
        "description": "``GET batch-crypto-quotes`` — condensed quotes for every\ncryptocurrency FMP tracks. No scope parameter — whole asset\nclass. Also reachable from ``client.crypto``.\n\n:param short: passed through as documented by FMP.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "passed through as documented by FMP."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-etf-quotes": {
      "get": {
        "operationId": "batch_etf_quotes",
        "summary": "condensed quotes for every ETF FMP tracks. No scope parameter — whole asset class.",
        "description": "``GET batch-etf-quotes`` — condensed quotes for every ETF FMP\ntracks. No scope parameter — whole asset class.\n\n:param short: passed through as documented by FMP.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "passed through as documented by FMP."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-exchange-quote": {
      "get": {
        "operationId": "batch_exchange_quote",
        "summary": "condensed quotes for every symbol listed on one exchange.",
        "description": "``GET batch-exchange-quote`` — condensed quotes for every\nsymbol listed on one exchange.\n\n:param exchange: exchange code, e.g. ``\"NASDAQ\"``.\n:param short: unused by the response shape today (already\n    condensed) but accepted by FMP; passed through as documented.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "exchange code, e.g. \"NASDAQ\"."
          },
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "unused by the response shape today (already condensed) but accepted by FMP; passed through as documented."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-forex-quotes": {
      "get": {
        "operationId": "batch_forex_quotes",
        "summary": "condensed quotes for every currency pair FMP tracks. No scope parameter — whole asset class. Also reachable from client.forex.",
        "description": "``GET batch-forex-quotes`` — condensed quotes for every\ncurrency pair FMP tracks. No scope parameter — whole asset\nclass. Also reachable from ``client.forex``.\n\n:param short: passed through as documented by FMP.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "passed through as documented by FMP."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-index-quotes": {
      "get": {
        "operationId": "batch_index_quotes",
        "summary": "condensed quotes for every stock market index FMP tracks. No scope parameter — whole asset class. Also reachable from client.indexes.",
        "description": "``GET batch-index-quotes`` — condensed quotes for every stock\nmarket index FMP tracks. No scope parameter — whole asset\nclass. Also reachable from ``client.indexes``.\n\n:param short: passed through as documented by FMP.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "passed through as documented by FMP."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-mutualfund-quotes": {
      "get": {
        "operationId": "batch_mutualfund_quotes",
        "summary": "condensed quotes for every mutual fund FMP tracks. No scope parameter — whole asset class.",
        "description": "``GET batch-mutualfund-quotes`` — condensed quotes for every\nmutual fund FMP tracks. No scope parameter — whole asset class.\n\n:param short: passed through as documented by FMP.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "short",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "passed through as documented by FMP."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/batch-quote": {
      "get": {
        "operationId": "batch_quote",
        "summary": "full real-time quotes for several symbols in one call.",
        "description": "``GET batch-quote`` — full real-time quotes for several\nsymbols in one call.\n\n:param symbols: comma-separated ticker symbols, e.g. ``\"AAPL,MSFT\"``.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "comma-separated ticker symbols, e.g. \"AAPL,MSFT\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/batch-quote-short": {
      "get": {
        "operationId": "batch_quote_short",
        "summary": "condensed real-time quotes for several symbols in one call.",
        "description": "``GET batch-quote-short`` — condensed real-time quotes for\nseveral symbols in one call.\n\n:param symbols: comma-separated ticker symbols, e.g. ``\"AAPL,MSFT\"``.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "comma-separated ticker symbols, e.g. \"AAPL,MSFT\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShortResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/biggest-gainers": {
      "get": {
        "operationId": "biggest_gainers",
        "summary": "stocks with the largest percentage price increase today. No parameters.",
        "description": "``GET biggest-gainers`` — stocks with the largest percentage\nprice increase today. No parameters.",
        "tags": [
          "market_performance"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketMoverResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/biggest-losers": {
      "get": {
        "operationId": "biggest_losers",
        "summary": "stocks with the largest percentage price decline today. No parameters.",
        "description": "``GET biggest-losers`` — stocks with the largest percentage\nprice decline today. No parameters.",
        "tags": [
          "market_performance"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketMoverResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/cash-flow-statement": {
      "get": {
        "operationId": "cash_flow_statement",
        "summary": "operating, investing, and financing cash flows for one company, periodic.",
        "description": "``GET cash-flow-statement`` — operating, investing, and\nfinancing cash flows for one company, periodic.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param period: one of ``constants.PERIOD_ANY``.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "one of constants.PERIOD_ANY."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatementResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/cash-flow-statement-as-reported": {
      "get": {
        "operationId": "cash_flow_statement_as_reported",
        "summary": "cash flow data exactly as filed, XBRL tag names as keys, no normalization.",
        "description": "``GET cash-flow-statement-as-reported`` — cash flow data\nexactly as filed, XBRL tag names as keys, no normalization.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param period: one of ``constants.PERIOD_ANNUAL_QUARTER``.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "one of constants.PERIOD_ANNUAL_QUARTER."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatementAsReportedResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/cash-flow-statement-bulk": {
      "get": {
        "operationId": "cash_flow_statement_bulk",
        "summary": "cash flow statement for every company, for one fiscal period.",
        "description": "``GET cash-flow-statement-bulk`` — cash flow statement for\nevery company, for one fiscal period.\n\n:param year: fiscal year, e.g. ``\"2026\"``.\n:param period: fiscal period, one of ``constants.PERIOD_FISCAL``.",
        "tags": [
          "bulk"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal year, e.g. \"2026\"."
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal period, one of constants.PERIOD_FISCAL."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatementBulkResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/cash-flow-statement-growth": {
      "get": {
        "operationId": "cash_flow_statement_growth",
        "summary": "year-over-year growth rate for every cash-flow-statement line item.",
        "description": "``GET cash-flow-statement-growth`` — year-over-year growth rate\nfor every cash-flow-statement line item.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param period: one of ``constants.PERIOD_ANY``.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "one of constants.PERIOD_ANY."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatementGrowthResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/cash-flow-statement-growth-bulk": {
      "get": {
        "operationId": "cash_flow_statement_growth_bulk",
        "summary": "cash flow statement growth for every company, for one fiscal period.",
        "description": "``GET cash-flow-statement-growth-bulk`` — cash flow statement\ngrowth for every company, for one fiscal period.\n\n:param year: fiscal year, e.g. ``\"2026\"``.\n:param period: fiscal period, one of ``constants.PERIOD_FISCAL``.",
        "tags": [
          "bulk"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal year, e.g. \"2026\"."
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal period, one of constants.PERIOD_FISCAL."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatementGrowthBulkResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/cash-flow-statement-ttm": {
      "get": {
        "operationId": "cash_flow_statement_ttm",
        "summary": "the same shape as cash_flow_statement, trailing twelve months. Requires an FMP Ultimate-tier plan — 402s on free, Starter, and Premium (confirmed working on Ultimate 2026-08-24).",
        "description": "``GET cash-flow-statement-ttm`` — the same shape as\n:meth:`cash_flow_statement`, trailing twelve months. Requires\nan FMP Ultimate-tier plan — 402s on free, Starter, and Premium\n(confirmed working on Ultimate 2026-08-24).\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.",
        "tags": [
          "statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatementResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/cik-list": {
      "get": {
        "operationId": "cik_list",
        "summary": "every SEC CIK on file, paginated.",
        "description": "``GET cik-list`` — every SEC CIK on file, paginated.\n\n:param page: zero-indexed page number.\n:param limit: max results per page.",
        "tags": [
          "directory"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CikListResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/commitment-of-traders-analysis": {
      "get": {
        "operationId": "commitment_of_traders_analysis",
        "summary": "derived sentiment analysis (bullish/bearish market situation, net position change, reversal-trend flag) built on top of the raw report.",
        "description": "``GET commitment-of-traders-analysis`` — derived sentiment\nanalysis (bullish/bearish market situation, net position change,\nreversal-trend flag) built on top of the raw report.\n\n:param symbol: futures/commodity symbol, e.g. ``\"NG\"`` (optional —\n    omit for the full market).\n:param from_: start date, ``YYYY-MM-DD`` (``from`` is a Python keyword).\n:param to: end date, ``YYYY-MM-DD``.",
        "tags": [
          "commitment_of_traders"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "futures/commodity symbol, e.g. \"NG\" (optional — omit for the full market)."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "start date, YYYY-MM-DD (from is a Python keyword)."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "end date, YYYY-MM-DD."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitmentOfTradersAnalysisResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/commitment-of-traders-list": {
      "get": {
        "operationId": "commitment_of_traders_list",
        "summary": "every symbol a COT report is available for. No parameters.",
        "description": "``GET commitment-of-traders-list`` — every symbol a COT report\nis available for. No parameters.",
        "tags": [
          "commitment_of_traders"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitmentOfTradersListResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/commitment-of-traders-report": {
      "get": {
        "operationId": "commitment_of_traders_report",
        "summary": "the raw CFTC COT report: long/short/spread positions by trader category, open interest, concentration ratios.",
        "description": "``GET commitment-of-traders-report`` — the raw CFTC COT report:\nlong/short/spread positions by trader category, open interest,\nconcentration ratios.\n\n:param symbol: futures/commodity symbol, e.g. ``\"NG\"`` (optional —\n    omit for the full market).\n:param from_: start date, ``YYYY-MM-DD`` (``from`` is a Python keyword).\n:param to: end date, ``YYYY-MM-DD``.",
        "tags": [
          "commitment_of_traders"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "futures/commodity symbol, e.g. \"NG\" (optional — omit for the full market)."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "start date, YYYY-MM-DD (from is a Python keyword)."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "end date, YYYY-MM-DD."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitmentOfTradersReportResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/commodities-list": {
      "get": {
        "operationId": "commodities_list",
        "summary": "every tradable commodity FMP tracks, with symbol, trade month, and currency. No parameters.",
        "description": "``GET commodities-list`` — every tradable commodity FMP tracks,\nwith symbol, trade month, and currency. No parameters.",
        "tags": [
          "commodity"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommoditiesListResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/company-notes": {
      "get": {
        "operationId": "company_notes",
        "summary": "corporate debt notes issued by the company, with exchange listing.",
        "description": "``GET company-notes`` — corporate debt notes issued by the\ncompany, with exchange listing.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyNotesResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/company-screener": {
      "get": {
        "operationId": "company_screener",
        "summary": "filter the whole equity universe by market cap, price, sector, and more. Requires an FMP Starter-tier plan or higher — 402s on the free tier.",
        "description": "``GET company-screener`` — filter the whole equity universe by\nmarket cap, price, sector, and more. Requires an FMP\nStarter-tier plan or higher — 402s on the free tier.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "market_cap_more_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "market_cap_lower_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "beta_more_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "beta_lower_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "price_more_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "price_lower_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "dividend_more_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "dividend_lower_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "volume_more_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "volume_lower_than",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "is_etf",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "is_fund",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "is_actively_trading",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "include_all_share_classes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyScreenerResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Starter"
      }
    },
    "/crowdfunding-offerings": {
      "get": {
        "operationId": "crowdfunding_offerings",
        "summary": "one issuer's Reg CF campaign filings, identified by CIK.",
        "description": "``GET crowdfunding-offerings`` — one issuer's Reg CF campaign\nfilings, identified by CIK.\n\n:param cik: issuer's SEC Central Index Key, e.g. ``\"0001916078\"``.",
        "tags": [
          "fundraisers"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "issuer's SEC Central Index Key, e.g. \"0001916078\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrowdfundingOfferingResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/crowdfunding-offerings-latest": {
      "get": {
        "operationId": "crowdfunding_offerings_latest",
        "summary": "most recent Reg CF campaign filings across all issuers, paginated.",
        "description": "``GET crowdfunding-offerings-latest`` — most recent Reg CF\ncampaign filings across all issuers, paginated.\n\n:param page: zero-indexed page number.\n:param limit: max results per page.",
        "tags": [
          "fundraisers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrowdfundingOfferingResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/crowdfunding-offerings-search": {
      "get": {
        "operationId": "crowdfunding_offerings_search",
        "summary": "issuers matching a company/campaign name, resolving to a CIK for use with crowdfunding_offerings.",
        "description": "``GET crowdfunding-offerings-search`` — issuers matching a\ncompany/campaign name, resolving to a CIK for use with\n:meth:`crowdfunding_offerings`.\n\n:param name: company or campaign name to search for, e.g. ``\"enotap\"``.",
        "tags": [
          "fundraisers"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "company or campaign name to search for, e.g. \"enotap\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrowdfundingOfferingSearchResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/cryptocurrency-list": {
      "get": {
        "operationId": "cryptocurrency_list",
        "summary": "every cryptocurrency FMP tracks, with symbol, name, exchange, and supply data. No parameters.",
        "description": "``GET cryptocurrency-list`` — every cryptocurrency FMP tracks,\nwith symbol, name, exchange, and supply data. No parameters.",
        "tags": [
          "crypto"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptocurrencyListResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/custom-discounted-cash-flow": {
      "get": {
        "operationId": "custom_discounted_cash_flow",
        "summary": "unlevered DCF with every model assumption overridable. Any parameter left unset falls back to FMP's own default for that assumption. Full year-by-year projection in the response: revenue/EBITDA/EBIT build-up, WACC components, terminal value, equity value per share.",
        "description": "``GET custom-discounted-cash-flow`` — unlevered DCF with every\nmodel assumption overridable. Any parameter left unset falls back\nto FMP's own default for that assumption. Full year-by-year\nprojection in the response: revenue/EBITDA/EBIT build-up, WACC\ncomponents, terminal value, equity value per share.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param revenue_growth_pct: override for projected revenue growth rate.\n:param ebitda_pct: override for EBITDA margin.\n:param depreciation_and_amortization_pct: override for D&A as a % of revenue.\n:param cash_and_short_term_investments_pct: override for cash/STI as a % of revenue.\n:param receivables_pct: override for receivables as a % of revenue.\n:param inventories_pct: override for inventories as a % of revenue.\n:param payable_pct: override for payables as a % of revenue.\n:param ebit_pct: override for EBIT margin.\n:param capital_expenditure_pct: override for capex as a % of revenue.\n:param operating_cash_flow_pct: override for operating cash flow as a % of revenue.\n:param selling_general_and_administrative_expenses_pct: override for SG&A as a % of revenue.\n:param tax_rate: override for the effective tax rate.\n:param long_term_growth_rate: override for the terminal growth rate.\n:param cost_of_debt: override for pre-tax cost of debt.\n:param cost_of_equity: override for cost of equity.\n:param market_risk_premium: override for the market risk premium.\n:param beta: override for equity beta.\n:param risk_free_rate: override for the risk-free rate.",
        "tags": [
          "dcf"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "revenue_growth_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for projected revenue growth rate."
          },
          {
            "name": "ebitda_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for EBITDA margin."
          },
          {
            "name": "depreciation_and_amortization_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for D&A as a % of revenue."
          },
          {
            "name": "cash_and_short_term_investments_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for cash/STI as a % of revenue."
          },
          {
            "name": "receivables_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for receivables as a % of revenue."
          },
          {
            "name": "inventories_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for inventories as a % of revenue."
          },
          {
            "name": "payable_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for payables as a % of revenue."
          },
          {
            "name": "ebit_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for EBIT margin."
          },
          {
            "name": "capital_expenditure_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for capex as a % of revenue."
          },
          {
            "name": "operating_cash_flow_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for operating cash flow as a % of revenue."
          },
          {
            "name": "selling_general_and_administrative_expenses_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for SG&A as a % of revenue."
          },
          {
            "name": "tax_rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the effective tax rate."
          },
          {
            "name": "long_term_growth_rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the terminal growth rate."
          },
          {
            "name": "cost_of_debt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for pre-tax cost of debt."
          },
          {
            "name": "cost_of_equity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for cost of equity."
          },
          {
            "name": "market_risk_premium",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the market risk premium."
          },
          {
            "name": "beta",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for equity beta."
          },
          {
            "name": "risk_free_rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the risk-free rate."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomDiscountedCashFlowResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/custom-levered-discounted-cash-flow": {
      "get": {
        "operationId": "custom_levered_discounted_cash_flow",
        "summary": "same 18 overridable assumptions as custom_discounted_cash_flow, levered (net of debt): operating cash flow build-up instead of EBITDA/EBIT, free cash flow instead of unlevered FCF.",
        "description": "``GET custom-levered-discounted-cash-flow`` — same 18\noverridable assumptions as :meth:`custom_discounted_cash_flow`,\nlevered (net of debt): operating cash flow build-up instead of\nEBITDA/EBIT, free cash flow instead of unlevered FCF.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param revenue_growth_pct: override for projected revenue growth rate.\n:param ebitda_pct: override for EBITDA margin.\n:param depreciation_and_amortization_pct: override for D&A as a % of revenue.\n:param cash_and_short_term_investments_pct: override for cash/STI as a % of revenue.\n:param receivables_pct: override for receivables as a % of revenue.\n:param inventories_pct: override for inventories as a % of revenue.\n:param payable_pct: override for payables as a % of revenue.\n:param ebit_pct: override for EBIT margin.\n:param capital_expenditure_pct: override for capex as a % of revenue.\n:param operating_cash_flow_pct: override for operating cash flow as a % of revenue.\n:param selling_general_and_administrative_expenses_pct: override for SG&A as a % of revenue.\n:param tax_rate: override for the effective tax rate.\n:param long_term_growth_rate: override for the terminal growth rate.\n:param cost_of_debt: override for pre-tax cost of debt.\n:param cost_of_equity: override for cost of equity.\n:param market_risk_premium: override for the market risk premium.\n:param beta: override for equity beta.\n:param risk_free_rate: override for the risk-free rate.",
        "tags": [
          "dcf"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "revenue_growth_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for projected revenue growth rate."
          },
          {
            "name": "ebitda_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for EBITDA margin."
          },
          {
            "name": "depreciation_and_amortization_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for D&A as a % of revenue."
          },
          {
            "name": "cash_and_short_term_investments_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for cash/STI as a % of revenue."
          },
          {
            "name": "receivables_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for receivables as a % of revenue."
          },
          {
            "name": "inventories_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for inventories as a % of revenue."
          },
          {
            "name": "payable_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for payables as a % of revenue."
          },
          {
            "name": "ebit_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for EBIT margin."
          },
          {
            "name": "capital_expenditure_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for capex as a % of revenue."
          },
          {
            "name": "operating_cash_flow_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for operating cash flow as a % of revenue."
          },
          {
            "name": "selling_general_and_administrative_expenses_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for SG&A as a % of revenue."
          },
          {
            "name": "tax_rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the effective tax rate."
          },
          {
            "name": "long_term_growth_rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the terminal growth rate."
          },
          {
            "name": "cost_of_debt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for pre-tax cost of debt."
          },
          {
            "name": "cost_of_equity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for cost of equity."
          },
          {
            "name": "market_risk_premium",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the market risk premium."
          },
          {
            "name": "beta",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for equity beta."
          },
          {
            "name": "risk_free_rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "override for the risk-free rate."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomLeveredDiscountedCashFlowResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/dcf-bulk": {
      "get": {
        "operationId": "dcf_bulk",
        "summary": "discounted-cash-flow valuation for every company at once. No parameters.",
        "description": "``GET dcf-bulk`` — discounted-cash-flow valuation for every\ncompany at once. No parameters.",
        "tags": [
          "bulk"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DcfBulkResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/delisted-companies": {
      "get": {
        "operationId": "delisted_companies",
        "summary": "companies removed from public exchanges, paginated.",
        "description": "``GET delisted-companies`` — companies removed from public\nexchanges, paginated.\n\n:param page: zero-indexed page number.\n:param limit: max results per page.",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DelistedCompanyResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/discounted-cash-flow": {
      "get": {
        "operationId": "discounted_cash_flow",
        "summary": "unlevered DCF valuation using FMP's own model assumptions.",
        "description": "``GET discounted-cash-flow`` — unlevered DCF valuation using\nFMP's own model assumptions.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.",
        "tags": [
          "dcf"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscountedCashFlowResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/dividends": {
      "get": {
        "operationId": "dividends",
        "summary": "one company's dividend history.",
        "description": "``GET dividends`` — one company's dividend history.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.",
        "tags": [
          "calendar"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DividendResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/dividends-calendar": {
      "get": {
        "operationId": "dividends_calendar",
        "summary": "market-wide dividend events in a date range.",
        "description": "``GET dividends-calendar`` — market-wide dividend events in a\ndate range.\n\n:param from_: start date, ``YYYY-MM-DD`` (``from`` is a Python keyword).\n:param to: end date, ``YYYY-MM-DD``.\n:param page: zero-indexed page number.",
        "tags": [
          "calendar"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "start date, YYYY-MM-DD (from is a Python keyword)."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "end date, YYYY-MM-DD."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DividendResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/dowjones-constituent": {
      "get": {
        "operationId": "dowjones_constituent",
        "summary": "current Dow Jones Industrial Average membership, one row per company. No parameters.",
        "description": "``GET dowjones-constituent`` — current Dow Jones Industrial\nAverage membership, one row per company. No parameters.",
        "tags": [
          "indexes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexConstituentResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Premium"
      }
    },
    "/earning-call-transcript": {
      "get": {
        "operationId": "earning_call_transcript",
        "summary": "full text of one company's earnings call for one fiscal quarter.",
        "description": "``GET earning-call-transcript`` — full text of one company's\nearnings call for one fiscal quarter.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param year: fiscal year, e.g. ``\"2020\"``.\n:param quarter: fiscal quarter, e.g. ``\"3\"``.\n:param limit: max results to return.",
        "tags": [
          "earnings_transcript"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal year, e.g. \"2020\"."
          },
          {
            "name": "quarter",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "fiscal quarter, e.g. \"3\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarningCallTranscriptResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/earning-call-transcript-dates": {
      "get": {
        "operationId": "earning_call_transcript_dates",
        "summary": "every fiscal year/quarter one company has an earnings-call transcript on file for.",
        "description": "``GET earning-call-transcript-dates`` — every fiscal\nyear/quarter one company has an earnings-call transcript on file\nfor.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.",
        "tags": [
          "earnings_transcript"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarningCallTranscriptDatesResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/earning-call-transcript-latest": {
      "get": {
        "operationId": "earning_call_transcript_latest",
        "summary": "most recent earnings-call transcripts across all companies, paginated.",
        "description": "``GET earning-call-transcript-latest`` — most recent\nearnings-call transcripts across all companies, paginated.\n\n:param limit: max results per page.\n:param page: zero-indexed page number.",
        "tags": [
          "earnings_transcript"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results per page."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "zero-indexed page number."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarningCallTranscriptLatestResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Ultimate"
      }
    },
    "/earnings": {
      "get": {
        "operationId": "earnings",
        "summary": "one company's earnings report history.",
        "description": "``GET earnings`` — one company's earnings report history.\n\n:param symbol: ticker symbol, e.g. ``\"AAPL\"``.\n:param limit: max results to return.\n:param include_report_times: include the before-market/after-market\n    timing flag.",
        "tags": [
          "calendar"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ticker symbol, e.g. \"AAPL\"."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true
            },
            "description": "max results to return."
          },
          {
            "name": "include_report_times",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "include the before-market/after-market timing flag."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarningsResult"
                  }
                }
              }
            }
          }
        },
        "x-fmp-plan-tier": "Free"
      }
    },
    "/earnings-calendar": {
      "get": {
        "operationId": "earnings_calendar",
        "summary": "market-wide earnings reports in a date range.",
        "description": "``GET earnings-calendar`` — market-wide earnings reports in a\ndate range.\n\n:param from_: start date, ``YYYY-MM-DD`` (``from`` is a Python keyword).\n:param to: end date, ``YYYY-MM-DD``.\n:param page: zero-indexed page number.\n:param include_report_times: include the before-market/after-market\n    timing flag.",
        "tags": [
          "calendar"
        ],
        "parameters": [
[...]
